nav {
    top: 0;
    bottom: 0;
    padding-left: calc(
        (var(--wave-content-width) + var(--wave-radius)) / 2 -
            var(--navbar-link-radius)
    );
    display: flex;
    flex-direction: column;
    row-gap: var(--navbar-link-radius);
    column-gap: var(--navbar-link-radius);
    position: fixed;
    z-index: 1;
    height: 100vh;
    justify-content: center;
}

.navbar-link {
    display: block;
    padding: 0;
    width: var(--navbar-link-radius);
    height: var(--navbar-link-radius);
}

a.navbar-link:hover svg {
    fill: var(--main-pink);
}
a.navbar-link:hover div.navbar-circle {
    background-color: (--main-blue);
}

.navbar-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--navbar-link-radius);
    width: var(--navbar-link-radius);
    border-radius: 40px;
    background-color: black;
}

nav svg {
    display: block;
    height: 30px;
    fill: var(--main-orange);
}

@media only screen and (max-width: 600px) {
    nav {
        height: var(--wave-content-width);
        width: 100vw;
        flex-direction: row;
        align-items: center;
        padding-left: 0;
    }
}
