/* *** Basic *** */

nav#navigation {
    width: 100vw;
    height: var(--wave-radius);
    bottom: 0;

    position: fixed;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    background-color: black;

    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

a.navigation-link {
    padding: 0;
    margin: 0;
    height: calc(var(--wave-radius) - 5px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: var(--main-orange);
    text-align: center;
    text-decoration: none;
}

a.navigation-link.current-page {
    color: var(--main-pink);
    border-bottom: var(--main-pink) 5px solid;
}
