@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

:root {
    --light-blue: #afd5eb;
    --main-orange: #f04520;
    --main-blue: #1073e5;
    --main-pink: #ef869c;

    --navbar-link-radius: 50px;
    --circle-one-radius: calc(100vw / 5);
    --circle-two-radius: calc(100vw / 4);
    --num-waves: 5;
    --wave-radius: calc(100vh / (var(--num-waves) * 2));
    --wave-content-width: calc(100vw / 10);
    --wave-width: calc(var(--wave-content-width) + var(--wave-radius));
}

body {
    background-color: var(--light-blue);
}

body,
div#root {
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body,
* {
    font-family: 'Secular One', sans-serif;
}

header,
main,
footer {
    padding-left: calc(var(--wave-width) + var(--wave-radius));
    margin: 0;
}

footer {
    color: var(--light-blue);
    background-color: black;
    /* padding: 20px 0px 20px 10px; */
}

*::selection {
    background: var(--main-pink);
    color: var(--main-blue);
}

a::selection {
    /* color: var(--light-blue); */
    color: black;
}

a,
a:visited {
    color: var(--main-orange);
}

a:hover,
a:visited:hover {
    color: var(--main-pink);
}

h1 {
    padding-top: 0;
}

@media only screen and (max-width: 600px) {
    :root {
        --circle-one-radius: calc(100vh / 5);
        --circle-two-radius: calc(100vh / 4);
        --num-waves: 5;
        --wave-radius: calc(100vw / (var(--num-waves) * 2));
        --wave-content-width: calc(100vh / 8);
        --wave-width: calc(var(--wave-content-width) + var(--wave-radius));
    }

    header,
    main,
    footer {
        padding-left: 10px;
    }

    header {
        padding-left: 10px;
        padding-top: calc(var(--wave-width) + var(--wave-radius));
    }
}
