@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

/* *** Basic *** */
:root {
    --light-blue: #afd5eb;
    --main-orange: #f04520;
    --main-blue: #1073e5;
    --main-pink: #ef869c;

    --sidelinks-link-radius: min(calc(100vw / 10), 50px);
}

body {
    background-color: var(--light-blue);
    width: 100%;
    height: 100%;
    min-height: -webkit-fill-available;
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
    min-height: -webkit-fill-available;
}

main {
    position: fixed;
    word-wrap: break-word;
    overflow-y: scroll;
}

/* *** PCs *** */
@media only screen and (min-width: 600px) {
    :root {
        --circle-one-radius: min(calc(100vw / 5), calc(100vh / 3));
        --circle-two-radius: min(calc(100vw / 4), calc(100vh / 2));
        --circle-three-radius: min(calc(100vw / 8), calc(100vh / 5));
        --num-waves: 5;
        --wave-radius: calc(100vh / (var(--num-waves) * 2));
        --wave-content-width: calc(100vw / 10);
        --wave-width: calc(var(--wave-content-width) + var(--wave-radius));
        --full-wave-width: calc(var(--wave-width) + var(--wave-radius) * 0.5);
    }
    main {
        width: calc(100vw - var(--full-wave-width) - 10px);
        height: calc(100vh - var(--wave-radius));
        margin-left: calc(var(--full-wave-width) + 10px);
    }
}

/* *** Phones *** */
@media only screen and (max-width: 600px) {
    body,
    html {
        height: calc(100vh - var(--wave-radius));
    }
    :root {
        --circle-one-radius: min(calc(100vh / 5), calc(100vw / 3));
        --circle-two-radius: min(calc(100vh / 4), calc(100vw / 2));
        --circle-three-radius: min(calc(100vh / 8), calc(100vw / 5));
        --num-waves: 5;
        --wave-radius: calc(100vw / (var(--num-waves) * 2));
        --wave-content-width: calc(100vh / 8);
        --wave-width: calc(var(--wave-content-width) + var(--wave-radius));
        --full-wave-width: calc(var(--wave-width) + var(--wave-radius) * 0.5);
    }

    main {
        width: calc(100vw - 10px);
        height: calc(100vh - var(--full-wave-width) - var(--wave-radius));
        margin-top: var(--full-wave-width);
        margin-left: 10px;
    }
}

/* *** smallest *** */
@media only screen and (max-width: 500px) {
    html {
        font-size: 12px;
    }
}

/* *** Utility *** */

/* links */

*::selection {
    background: var(--main-pink);
    color: var(--main-blue);
}

a::selection {
    color: black;
}

a,
a:visited {
    color: var(--main-orange);
}

a:hover,
a:visited:hover {
    color: var(--main-pink);
}

h1 {
    font-size: 4rem;
}

a.project-icon-link svg {
    height: 1.5rem;
    width: 1.5rem;
    fill: var(--main-orange);
}

a.project-icon-link:hover svg {
    fill: var(--main-pink);
}

/* scrollbar */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    display: none;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--main-orange);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--main-pink);
}

::-webkit-scrollbar-thumb:active {
    background: var(--main-pink);
}

::-webkit-scrollbar:horizontal {
    display: none;
}

* {
    font-family: 'Secular One', sans-serif;
}

hr {
    background-color: black;
    border-color: black;
}
