@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

:root {
    --light-blue: hsl(202, 61%, 70%);
    --main-orange: hsl(11, 87%, 53%);
    --main-blue: hsl(212, 87%, 48%);
    --main-pink: hsl(347, 77%, 73%);
}

* {
    font-family: 'Secular One', sans-serif;
}

/* *** text *** */

hr {
    background-color: black;
    border-color: black;
}

*::selection {
    background: var(--main-pink);
    color: var(--main-blue);
}

a::selection {
    color: black;
}

a,
a:visited {
    color: var(--main-orange);
}

a:hover,
a:visited:hover {
    color: var(--main-pink);
}

/* scrollbar */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    display: none;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--main-orange);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--main-pink);
}

::-webkit-scrollbar-thumb:active {
    background: var(--main-pink);
}

::-webkit-scrollbar:horizontal {
    display: none;
}
